<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Votechain</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <style>
    .centerEl {
    position: absolute !important;
    top: 40% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    }
    .votechainLogo {
      font-family: 'Catamaran', sans-serif;
      font-size: 40px;
      padding-left: 15%;
    }
    .votechainSubText {
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      padding-left: 10%;
    }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/new-age.css" rel="stylesheet">

  </head>

   <body id="page-top">
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="centerEl">
            <div class="row">
            <p class="votechainLogo"> Votechain </p>
            <p class="votechainSubText"> Blockchain voting as API </p>
            </div>
            <div class="row">
            <a href="/voter/signup" class="btn btn-outline btn-xl">Start your election!</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <footer>
      <div class="container">
        <p>&copy; Votechain.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

  </body>

</html>
